.createRHRecipeName {
  margin-top: 20px;
  border: 3px solid rgb(239, 136, 63);
}

.createRecipeSubmitButtonForm {
  font-size: 20px;
  width: 100%;
  margin: auto;
}

.createRecipeSubmitButtonForm input {
  width: 400px;
}

.createRecipeSubmitButtonForm textarea {
  width: 400px;
}

.createRHContainer {
  width: 60%;
  margin: auto;
  /* display: flex; */
}

.createRHRecipeName {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.createRHSubtitle {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.createRHRecipeTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.createRHRecipeTitle p {
  margin-top: 20px;
}

.createTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

/* .createRHRecipeInput {
  width: 300px;
} */

.createRHRecipeCategory {
  margin: auto;
}

.createDropdown {
  height: 50px;
}

.createRHRecipeDescription {
  margin: auto;
  font-size: 25px;
}

.privacy {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.privacySwitch {
  position: relative;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* .middleofthePage {
  position: relative;
  z-index: 0;
}
.BottomHalfofPage {
  position: absolute;
  z-index: 10;
  bottom: -120px;
  left: 46%;
} */

.finalSubmit {
  /* position: absolute; */
  width: 400px;
  margin-bottom: 30px;
}

/* upload image button */
.submit-recipe-ipload-button input {
  margin: 0;
}
