/* CSS styles for the create a recipe page header*/

.createRHContainer {
}
.createRHTitle {
  color: white;
  font-size: 40px;
  border-bottom: 2px solid rgb(74, 74, 74);
  text-align: center;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
}
.createRHSiteName {
  width: 100%;
}
.ui,
.dropdown {
  width: 300px;
}
.createRHSubtitle {
  color: rgb(56, 56, 56);
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(74, 74, 74);
  width: 300px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.createRecipeSubmitButton {
  width: 100%;
}

.CRHRdescription {
  height: 100px;
  width: 300px;
  margin: 3px;
  font-size: 16px;
}
.createRHRecipeCategory label {
  font-size: 20px;
  height: 25px;
  color: white;
}
/* .createRHRecipeCategory {
  margin: 3px;
  display: flex;
  flex-direction: column;
} */
.createRHRecipeName {
  text-align: center;
}
.createRHRecipeTitle {
  text-align: center;
}
.createRHRecipeTitle label {
  font-size: 20px;
}
.createRHRecipeTitle input {
  width: 300px;
  height: 38px;
  border-radius: 4px;
  font-size: 18px;
  padding-left: 2px;
  margin: 3px;
}

.back-arrow-to-homepage {
  position: absolute;
  top: 0;
  left: 30px;
}
.formforTop {
  display: flex;
  flex-direction: column;
}
