.createRecipeMain {
  width: 100%;
  margin: auto;
  background: black;
  color: white;
  display: flex;
}
.create-recipe-form {
  width: 60%;
  margin: auto;
  margin-top: 0px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bourdain {
  width: 100%;
  border: 2px solid white;

  margin: auto;
}
.recipe-Ing-Dir {
  display: flex;
  font-size: 21px;
}

.create-a-recipe {
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid white;
}
.create-all-in-form {
  margin: auto;
}
.create-recipe-name,
.create-recipe-catergory,
.create-recipe-description {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.createTitle {
  font-size: 21px;
}
.create-recipe-input-name {
  width: 100%;
  height: 40px;
  font-size: 18px;
}

.createDropdown {
  width: 50%;
}
.createDescription {
  width: 100%;
  height: 50px;
}
.create-privacy {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  margin: 15px 0px;
}
.create-img-uploader {
  margin: 10px 0px;
}
.create-recipe-button {
  margin: 15px 0;
  font-size: 21px;
}
.create-final-button {
  background: white;
  margin: 15px 0;
  font-size: 21px;
  transition: 1s ease-in-out;
}
.create-final-button:hover {
  transition: 0.2s ease-in-out;
  background: rgb(239, 136, 63);
}

@media (max-width: 1420px) {
  .bourdain {
    width: 75%;
    margin: auto;
  }
  .recipe-Ing-Dir {
    display: flex;
    flex-direction: column;
    font-size: 21px;
  }
  .create-recipe-description,
  .create-recipe-name,
  .create-recipe-category,
  .createDropdown {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .bourdain {
    display: none;
  }
  .create-recipe-form {
    width: 100%;
    margin: 0;
  }
  .createDropdown {
    width: 100%;
  }
  .create-all-in-form {
    margin: 15px;
  }
}
