.ingsList-IandM {
    display: flex;
}

.measurementDisplay {
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin-left: 20px;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding: 2px;
}

.measurementDisplayContainer {
    margin-bottom: 10px;
    border-bottom: 1px solid blue;
    padding-bottom: 3px;
    margin-left: 20px;
    width: 610px;
}

.IandMName {
    font-size: 20px;
    font-weight: bolder;

}

.measurementBox {
    display: flex;
    flex-direction: column;
}

.measurementBox label {
    font-size: 22px;
    border-bottom: 1px solid blue;
    margin-bottom: 5px;
}

.measurementBox input {
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding-left: 5px;

}

.measurementBox button {
    font-size: 15px;
    height: 40px;
}

.measurementForms,
.measurementFormsOne {
    display: flex;
}

.measurementFormsOne button {
    font-size: 15px;
}

.ingredientsTitlething {
    font-size: 22px;
    padding-bottom: 5px;
    border-bottom: 1px solid blue;
}

.ingredientsAndMeasurements {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 25px;
    font-size: 22px;
    margin-bottom: 5px;
}

.ingredientsAndMeasurements label {
    border-bottom: 1px solid blue;
    margin-left: 350px;
}

.measDisFin {
    font-size: 20px;
    border-bottom: 2px solid #ccc;
    margin-left: 20px;
}