.multi-recipe-view-page-container {
  width: 80%;
  margin: auto;
  display: grid;
  justify-items: center;
}
.multi-container {
  width: 100%;
  background: black;
}
.multi-recipe-view-page-title {
  text-align: center;
  color: white;
}

.multi-recipe-view-page-details {
  align-items: center;
}
#multi-card-top {
  margin: auto;
  width: 100%;
}
.mulit-single-card-main {
  border: 2px solid white;
  margin-bottom: 60px;
}
#multi-recipe-single {
  background: black;
  text-align: center;
  color: white;
}
#mulit-recipe-single:hover {
  color: white;
}
.mulit-card-header {
  color: white;
}
.multi-link-container {
  color: white;
  text-align: center;
}
#card-body {
  text-align: center;
}
.mulit-card-subtitle {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}
.mulit-card-text {
  width: 400px;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
