.multi-recipe-view-page-container {
  width: 100%;
  margin: auto;
  display: grid;
  justify-items: center;
  background: black;
}
#single-card {
  border: 1px solid white;
  position: relative;
}
.multi-recipe-view-page-title {
  text-align: center;
  color: white;
  margin-top: 10px;
}
@media (max-width: 975px) {
  .multi-recipe-view-page-container {
    display: grid;
    padding: 10px 25px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
  }
}
.card-subtitle {
  text-align: center;
}

.card-body {
  margin: 0px;
  padding: 0px;
}

.card-body .row {
  display: inline;
  margin: 0;
}

.card-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mulit-single-card {
  border: 1px solid white;
  /* margin: 10px 0 10px 0; */
}
