.formback {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  background: rgb(252, 174, 118);
  height: 360px;
  margin-top: 25px;
  margin-bottom: 65px;
  flex-direction: column;
}
.formbackReg {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  background: rgb(252, 174, 118);
  height: 400px;
  margin-top: 25px;
  margin-bottom: 65px;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  align-content: center;
  justify-content: center;
}
.user,
.pass {
  margin: 15px;
  height: 45px;
  text-align: center;
  font-size: 25px;
  outline: none;
}
.sub {
  height: 45px;
  margin: 15px;

  background: white;
  cursor: pointer;
  font-size: 20px;
}
.textLogin {
  text-align: center;
  font-size: 30px;
  padding: 15px;
  margin: 0;
}
.newuser {
  widows: 100%;
  margin: auto;
  display: flex;
}
.areyou {
  font-size: 18px;
  margin-right: 5px;
}
.clickhere {
  cursor: pointer;
  height: 25px;
  color: black;
}
