.toggleMain {
  width: 100%;
  background: #ffffff;
  margin-top: 100px;
}
.toggleLogin {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 300px;
  height: 40px;
  background: none;
  font-size: 20px;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid;
}
.toggleLogin:active {
  border: 2px solid rgb(252, 174, 118);
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  color: black;
  text-align: center;
  align-content: center;
  justify-content: center;
  border: 1px solid;
  height: 400px;
}
.loginUsername {
  font-size: 24px;
  margin: 20px 0 0;
}
.inputLoginUsername {
  margin: auto;
  text-align: center;
  outline: none;
  background: none;
  border: 1px solid black;
  height: 40px;
  width: 60%;
  font-size: 18px;
  padding: 10px;
}
.inputLoginUsername:hover {
  color: black;
  background: white;
}
.signInButton {
  margin: auto;
  margin-bottom: 65px;
  width: 200px;
  height: 40px;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
.signInButton:hover {
}
.loginLogo {
  width: 200px;
}
