.about-devs-container {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}
.about-devs-title {
}
.about-devs-title h1 {
  font-size: 60px;
  margin-left: 10%;
}
.about-devs-img {
  width: 300px;
  transition: ease-in-out 0.3s;
}

.about-devs-img:active,
.about-devs-img:hover {
  box-shadow: 4px 4px 4px darkorange;
}

.about-devs-img:active {
  transform: translateY(4px);
}

.about-devs-container {
  display: grid;
}

.about-devs-header {
  display: flex;
  margin-bottom: 10%;
}
.about-devs-header-left {
  width: 80%;
  margin: 3%;
  display: grid;
  justify-items: center;
}
.about-devs-header-left h2 {
  font-size: 40px;
  border-bottom: 1px solid rgb(235, 122, 62);
  padding-left: 5px;
  width: 70%;
  text-align: center;
}
.about-devs-header-left img {
  margin-top: 15px;
  margin-bottom: 5px;
}
.about-devs-content {
  font-size: 20px;
  border-left: 1px solid rgb(235, 122, 62);
  padding-left: 10px;
  margin-right: 10%;
}
.about-devs-content h3 {
  border-bottom: 1px solid rgb(235, 122, 62);
  width: 25%;
  font-size: 30px;
  margin-bottom: 1%;
  padding-top: 3%;
}
.about-devs-content p {
  margin: 0;
}
/* IPAD PRO VIEW */
@media (max-width: 1024px) {
  .about-devs-title {
    text-align: center;
  }
  .about-devs-title h1 {
    margin: 0;
  }
  .about-devs-header {
    display: flex;
    flex-direction: column;
  }
  .about-devs-header-left {
    margin: auto;
  }
}
/* IPAD VIEW*/
@media (max-width: 768px) {
  .about-devs-header {
    display: flex;
    flex-direction: column;
  }
  .about-devs-content h3 {
    width: 100%;
  }
  .about-devs-content p {
    font-size: 25px;
  }
}
/* IPHONE 6/7 VIEW*/
@media (max-width: 415px) {
  .about-devs-header {
    display: flex;
    flex-direction: column;
  }
  .about-devs-content h3 {
    width: 100%;
  }
  .about-devs-content p {
    font-size: 18px;
  }
}

/* IPHONE X VIEW*/
@media (max-width: 375px) {
  .about-devs-header {
    display: flex;
    flex-direction: column;
  }
  .about-devs-content h3 {
    width: 100%;
  }
  .about-devs-content p {
    font-size: 18px;
  }
}
