.single-recipe-view-container {
  width: 100%;
  background: black;
  margin: auto;
  display: flex;
}

.single-recipe-view-main {
  width: 70%;

  color: white;
  /* border: 2px solid white; */
}

.single-recipe-block {
  width: 100%;
  margin: auto;
}

.single-border-block {
  border: 2px solid white;
  background: rgb(31, 30, 30);
  padding: 15px;
}

.single-recipe-title {
  font-size: 40px;

  text-align: center;
}

.single-recipe-names {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: auto;
}

.single-recipe-creator {
  font-size: 20px;
  text-align: center;
}

.single-recipe-image-container {
  max-width: 600px;
  max-height: 400px;
  min-width: 100px;
  margin: auto;
}

.single-recipe-image {
  box-shadow: 2px 2px 11px 1px rgba(41, 41, 41, 1);
  max-width: 100%;
  max-height: 400px;
  margin: 5px;
  border: rgba(255, 255, 255, 0.345) solid 1px;
}

.single-recipe-default-image {
  box-shadow: 2px 2px 11px 1px rgba(41, 41, 41, 1);
  width: 100%;
  height: 100%;
}

.single-Ing-Dir {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.single-dirNing {
  margin-top: 10px;
  font-size: 22px;
  text-decoration: underline;
}

.single-recipe-header {
  display: flex;
  align-items: center;
}
.single-recipe-view-back-button button {
  background: #ef883f;
  border-radius: 10px;
  padding: 7px;
  width: 160px;
  font-size: 1em;
  color: black;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
  outline: none;
  transition: ease-in-out 0.2s;
  z-index: 15;
}

.single-recipe-view-back-button button:hover {
  color: white;
}

.single-recipe-social-media-buttons {
  display: flex;
  flex-direction: column;
}

.social-icon {
  margin: 5px;
}

.social-share-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-facebook,
.single-twitter {
  margin: 5px 5px;
}

.single-recipe-directions-list {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 36px;
  border-bottom: 1px solid rgb(70, 70, 70);
}

.single-recipe-directions {
  width: 90%;
  margin-top: 10px;
  border-left: 1px solid #ef883f;
  padding: 20px;
}

.single-recipe-ingredients {
  padding: 10px;
}

.goodfood {
  height: 100%;
  width: 100%;
}
.edit-recipe-button {
  width: 200px;
  background: white;
}
.ratings {
  display: flex;
  justify-content: center;
}

.ratings h2 {
  margin-right: 20px;
}

.rating-display-numbers {
  margin-left: 20px;
}
.printButton {
  background: #ef883f;
  color: white;
  border-radius: 3px;
  height: 3.1em;
  outline: none;
  border: none;
  font-size: 1em;
}
.printButton:hover {
  background: #b55510;
}

.edit-recipe-button {
  background: #ef883f;
  border-radius: 10px;
  padding: 7px;
  width: 160px;
  font-size: 1em;
  color: black;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
  outline: none;
  transition: ease-in-out 0.2s;
  z-index: 15;
  margin: 0 0 10px 10px;
}
.edit-recipe-button:hover {
  color: white;
}
.single-home-heart {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  transition: 0.2s ease-in-out;
}
.single-home-heart:hover {
  color: red;
}
/*IPAD PRO VIEW */
@media only screen and (max-width: 1024px) {
  .single-recipe-header {
    display: flex;
    align-items: center;
  }
  .single-recipe-view-back-button button {
    background: #ef883f;
    border-radius: 10px;
    padding-right: 65px;
    font-size: 1em;
    color: black;
    width: 150px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.2s;
    z-index: 15;
  }
  .goodfood {
    display: none;
  }
  .single-recipe-view-main {
    width: 100%;
  }
}
@media only screen and (max-width: 950px) {
  .single-recipe-header {
    display: flex;
    align-items: center;
  }
  .single-recipe-view-back-button button {
    background: #ef883f;
    border-radius: 10px;
    padding-right: 65px;
    font-size: 1em;
    color: black;
    width: 50px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.2s;
    z-index: 15;
  }
  .goodfood {
    display: none;
  }
  .single-recipe-view-main {
    width: 100%;
  }
}
/* IPAD VIEW */
@media only screen and (max-width: 768px) {
  .single-recipe-header {
    display: flex;
    align-items: center;
  }
  .single-recipe-view-back-button button {
    background: #ef883f;
    border-radius: 10px;
    padding-right: 65px;
    font-size: 1em;
    color: black;
    width: 150px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.2s;
    z-index: 15;
  }
  .goodfood {
    display: none;
  }
  .single-recipe-view-main {
    width: 100%;
  }
}

/* IPHONE 6/7 VIEW */
@media only screen and (max-width: 415px) {
  .single-recipe-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .single-recipe-view-back-button button {
    background: #ef883f;
    border-radius: 10px;
    padding-right: 65px;
    font-size: 1em;
    color: black;
    width: 150px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.2s;
    z-index: 15;
    margin-bottom: 10px;
  }
  .goodfood {
    display: none;
  }
  .single-recipe-view-main {
    width: 100%;
  }
  .single-Ing-Dir {
    display: flex;
    flex-direction: column;
  }
  .single-recipe-ingredients {
    border-left: 1px solid #ef883f;
  }
}

/* IPHONE X VIEW */
@media only screen and (max-width: 375px) {
  .single-recipe-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .single-recipe-view-back-button button {
    background: #ef883f;
    border-radius: 10px;
    padding-right: 65px;
    font-size: 1em;
    color: black;
    width: 150px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.2s;
    z-index: 15;
    margin-bottom: 10px;
  }
  .goodfood {
    display: none;
  }
  .single-recipe-view-main {
    width: 100%;
  }
  .single-Ing-Dir {
    display: flex;
    flex-direction: column;
  }
  .single-recipe-ingredients {
    border-left: 1px solid #ef883f;
  }

  .printButton {
    overflow: hidden;
  }
}
