.about-us-page-container {
  width: 90%;
  margin: auto;
  color: white;
}
.about-us-main-container {
  width: 100%;
  background: black;
}
.about-us-page-title h1 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 3%;
}

.about-us-page-subtitle {
  display: flex;
  margin-bottom: 5%;
}

.about-us-page-content {
  border-left: 2px solid rgb(235, 122, 62);
  padding-left: 2%;
}

.about-us-page-subtitle h3 {
  font-family: "Raleway", sans-serif;
  margin-right: 3%;
  padding-right: 1%;
  font-size: 30px;
  width: 200px;
}
.about-us-page-subtitle {
}
.about-us-page-subtitle p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

/* Contact us Email form */
.contact-form,
.contact-form-boxes {
  display: flex;
  flex-direction: column;
}
.contact-form-boxes label {
  font-size: 20px;
  border-bottom: 3px solid rgb(235, 122, 62);
  padding: 1%;
}
.contact-form-boxes input,
.contact-form-boxes textarea {
  margin-bottom: 3%;
  font-size: 18px;
}
.contact-form-boxes input:focus,
.contact-form-boxes textarea:focus {
  outline-color: rgb(235, 122, 62);
}
.contact-form-boxes input {
  height: 40px;
}
.contact-form-submit-button {
  font-size: 20px;
  background: rgb(250, 162, 111);
}
.contact-form-submit-button:hover {
  background: rgb(235, 122, 62);
}
