.about-us-page-container {
  width: 90%;
  margin: auto;
}
.about-us-main-container {
  width: 100%;
  background: black;
  color: white;
}
.about-us-page-title h1 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 3%;
}

.about-us-page-subtitle {
  display: flex;
  background: black;
  font-size: 1em;
}

.about-us-page-content {
  padding-left: 2%;
  margin-bottom: 50px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
}
.about-us-page-content-email {
  padding-left: 2%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.about-us-page-subtitle h3 {
  font-family: "Raleway", sans-serif;
  margin-right: 3%;
  padding-right: 1%;
  font-size: 30px;
  width: 200px;
}

.about-us-subtitle {
  width: 15%;
  font-size: 2em;
  border-right: 2px solid rgb(235, 122, 62);
}
/* Contact us Email form */
.contact-form,
.contact-form-boxes {
  display: flex;
  flex-direction: column;
}
.contact-form {
  width: 30%;
}
.contact-form-boxes label {
  font-size: 20px;
  position: static;
  border-bottom: 3px solid rgb(235, 122, 62);
  padding: 1%;
}
.contact-form-boxes input,
.contact-form-boxes textarea {
  margin-bottom: 3%;
  font-size: 18px;
}
.contact-form-boxes input:focus,
.contact-form-boxes textarea:focus {
  outline-color: rgb(235, 122, 62);
}
.contact-form-boxes input {
  height: 40px;
}
.contact-form-submit-button {
  font-size: 20px;
  background: rgb(250, 162, 111);
}
.contact-form-submit-button:hover {
  background: rgb(235, 122, 62);
}

.about-us-images {
  width: 30%;
  height: 28vw;
  object-fit: cover;
}

@media only screen and (max-width: 700px) {
  .about-us-images {
    display: none;
  }

  .contact-form {
    width: 100vw;
  }

  .contact-form h1 {
    display: none;
  }

  .about-us-page-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-us-subtitle {
    font-size: 1.5em;
    border-bottom: 2px solid rgb(235, 122, 62);
    border-right: none;
    width: 100%;
    text-align: center
  }

  .about-us-page-container {
    width: 100vw;
  }

  .about-us-page-content {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .contact-form {
    width: 100vw;
    /* margin: auto; */
  }
  .about-us-page-subtitle {
    display: grid;
    justify-items: center;
  }
  .about-us-subtitle {
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  #seeds-image {
    display: none;
  }
  .contact-form {
    width: 80%;
    margin-right: 20px;
  }

  .about-us-subtitle {
    margin: 5px;
  }
  .about-us-page-content-email {
    display: flex;
    align-items: center;
  }
  .about-us-page-title {
    text-align: center
  }
}

@media only screen and (max-width: 900px) {
  .about-us-subtitle {
    width: 30%;
  }
}