.about-us-page-container {
  width: 90%;
  margin: auto;
}
.about-us-main-container {
  width: 100%;
  background: black;
  color: white;
}
.about-us-page-title h1 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 3%;
}

.about-us-page-subtitle {
  display: flex;
  background: black;
}

.about-us-page-content {
  padding-left: 2%;
  margin-bottom: 50px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.about-us-page-content-email {
  padding-left: 2%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.about-us-page-subtitle h3 {
  font-family: "Raleway", sans-serif;
  margin-right: 3%;
  padding-right: 1%;
  font-size: 30px;
  width: 200px;
}

.about-us-subtitle {
  width: 15%;
  font-size: 30px;

  border-right: 2px solid rgb(235, 122, 62);
}
/* Contact us Email form */
.contact-form,
.contact-form-boxes {
  display: flex;
  flex-direction: column;
}
.contact-form {
  width: 30%;
}
.contact-form-boxes label {
  font-size: 20px;
  position: static;
  border-bottom: 3px solid rgb(235, 122, 62);
  padding: 1%;
}
.contact-form-boxes input,
.contact-form-boxes textarea {
  margin-bottom: 3%;
  font-size: 18px;
}
.contact-form-boxes input:focus,
.contact-form-boxes textarea:focus {
  outline-color: rgb(235, 122, 62);
}
.contact-form-boxes input {
  height: 40px;
}
.contact-form-submit-button {
  font-size: 20px;
  background: rgb(250, 162, 111);
}
.contact-form-submit-button:hover {
  background: rgb(235, 122, 62);
}
