/* //////////// */
/* ////Footer//// */
.footer-component {
  background: rgb(255, 225, 185);
  width: 100%;

  margin: auto;
  padding: 50px;
}
.footer-component-social-links {
  width: 100%;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.footer-component-social-media-icons {
  margin: auto;
  display: flex;
  width: 50%;
  margin-top: 50px;
  justify-content: center;
  background: white;
}
.footer-component-logo {
  margin: auto;
  display: flex;
  width: 50%;
  justify-content: center;
  background: white;
}
