/* //////////// */
/* ////Footer//// */
.footer-component-container {
  background: rgb(255, 151, 77);
  height: 200px;
  display: flex;
}
.footer-icon-and-logo-container {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  margin: none;
  padding: 0;
  width: 150px;
}

.footer-component-social-links {
  display: flex;
}
.footer-info-links {
  font-size: 20px;
  display: flex;
}
.footer-main-links {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 50px;
}
.footer-info-links a {
  padding: 5px;
}
.footer-info-features {
  display: flex;
  flex-direction: column;
}
.f-link {
  color: black;
}
.f-link:hover {
  color: white;
}
