/* //////////// */
/* ////Footer//// */
.footer-component-container {
  background: rgb(255, 151, 77);
  height: 200px;
  display: flex;
}
.footer-icon-and-logo-container {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  margin: none;
  padding: 0;
  width: 150px;
}

.footer-component-social-links {
  display: flex;
}
.footer-info-links {
  font-size: 20px;
  display: flex;
}
.footer-main-links {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 50px;
}
.footer-info-links a {
  padding: 5px;
}
.footer-info-features {
  display: flex;
  flex-direction: column;
}
.f-link {
  color: black;
}
.f-link:hover {
  color: white;
} 
/* .fg:hover {
  transition: 0.3s ease-in-out;
  color: black;
  outline: none;
} */
/* .footer-component-social-media-icons {
  margin: auto;
  display: flex;
  width: 50%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
} */

/* .footer-component-logo {
  margin: auto;
  display: flex;
  width: 50%;
  justify-content: center;
} */

/* .footer-share-button {
  margin: 0px 10px;
  outline: none;
  cursor: pointer;
} */
@media (max-width: 420px) {
  .footer-component-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer-icon-and-logo-container {
    width: 160px;
    margin: auto;
  }
  .footer-main-links {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .footer-component-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer-icon-and-logo-container {
    width: 160px;
    margin: auto;
  }
  .footer-main-links {
    display: flex;
    flex-direction: column;
  }
}
