

.header-component-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #A5907E;
  padding: 20px;
}

.header-component-title {
  font-size: 50px;
  font-family: cursive;
  color: #F7DAD9;
}

i.fa-book {
  font-size: 100px;
  color: #F7DAD9;
  text-shadow: #9E8B8B 4px 4px ;
}

.header-component-social-media-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-component-social-media-icons li {
  padding: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  box-shadow: black 2px 2px 2px;
}

.header-component-social-media-icons li i {
  font-size: 25px;
}

.header-component-instagram-icon {
  color: white;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.header-component-facebook-icon {
  background: #4267B2;
  color: white;
}

.header-component-twitter-icon {
  background: #1DA1F2;
  color: white;
}

.header-component-reddit-icon {
  background: #FF4500;
  color: white;
}

.header-component-description {
 width: 200px;
 color: #F7DAD9;
}

.social-media-path {
  text-decoration: none;
  color: transparent;
  cursor: pointer;
}