/* .header-component-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #a5907e;
  padding: 20px;
}

.header-component-title {
  font-size: 50px;
  font-family: cursive;
  color: #f7dad9;
} */
/* 
i.fa-book {
  font-size: 100px;
  color: #f7dad9;
  text-shadow: #9e8b8b 4px 4px;
}

.header-component-social-media-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-component-social-media-icons li {
  padding: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  box-shadow: black 2px 2px 2px;
}

.header-component-social-media-icons li i {
  font-size: 25px;
}

.header-component-instagram-icon {
  color: white;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.header-component-facebook-icon {
  background: #4267b2;
  color: white;
}

.header-component-twitter-icon {
  background: #1da1f2;
  color: white;
}

.header-component-reddit-icon {
  background: #ff4500;
  color: white;
}

.header-component-description {
  width: 200px;
  color: #f7dad9;
}

.social-media-path {
  text-decoration: none;
  color: transparent;
  cursor: pointer;
}

.header-component-login-button button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.header-component-create-recipe-button button {
  position: absolute;
  top: 40px;
  right: 10px;
  cursor: pointer;
}

.header-component-profile-button button {
  position: absolute;
  top: 70px;
  right: 10px;
  cursor: pointer;
}

.header-component-singleRecipe-button {
  position: absolute;
  top: 100px;
  right: 10px;
  cursor: pointer;
}

.header-component-multiRecipe-button {
  position: absolute;
  top: 130px;
  right: 10px;
  cursor: pointer;
}
.header-component-home-button {
  position: absolute;
  top: 100px;
  right: 20px;
  cursor: pointer;
}
i.fa-home {
  text-decoration: none;
  color: black;
  font-size: 35px;
} */
