.public-home-page-container {
  background: black;
  height: 100%;
  width: 100%;
  display: grid;
  z-index: 0;
  position: relative;
  color: white;
}

.public-home-page-slider {
  width: 60%;
  margin: auto;
}

.public-home-page-button-to-all-recipes {
  margin: 30px auto;
}

.public-home-page-button-to-all-recipes button {
  height: 30px;
  width: 300px;
  cursor: pointer;
  font-size: 1.2em;
  outline: none;
  background: transparent;
  border: rgb(239, 136, 63) 1px solid;
  color: white;
}
