h4.recipe-card-recipe-title {
  margin: 0;
  padding: 0;
}

.recipe-card-thumbnail {
  width: 80px;
}

.recipe-card-top {
  display: flex;
}

.recipe-card-left-side {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.recipe-card-right-side {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.recipe-card-bottom .recipe-card-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recipe-card-container {
  /* background: rgba(249, 249, 249, 0.173); */
  padding: 10px;
  width: 400px;
  /* box-shadow: grey 2px 2px 2px 2px; */
  border: rgb(255, 194, 151) 3px solid;
}

.recipe-card-wrapper {
  border: 2px #000000 solid;
  padding: 5px;
  height: 200px;
}

.recipe-card-view-more {
  cursor: pointer;
}
