.recipe-grid-container {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
}
@media only screen and (max-width: 700px) {
  .recipe-grid-container {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 2fr);
    gap: 15px;
    justify-items: center;
  }
}
.recipe-grid-flex {
  display: flex;
  width: 90%;
  margin: auto;
}
.order-up-banner {
  width: 500px;
}
