.header-component-header {
  /* background: rgb(255, 210, 177); */
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  border-bottom: 5px solid rgb(239, 136, 63);
}
/* .header-component-all {
  margin-left: 30px;
} */
.logo {
  width: 300px;
  margin: 15px 25px;
}
.header-component-social-media-icons {
  display: flex;
  justify-content: flex-end;
}
.social-media-path {
  margin: 10px 10px;
  font-size: 25px;
  color: rgb(67, 67, 67);
}
.social-media-path:hover {
  transition: 0.1s ease-in-out;
  color: rgb(239, 136, 63);
  cursor: pointer;
}
.links-to-components {
  display: flex;
  border-top: rgb(239, 136, 63) 2px solid;
  margin: 20px 0;
  align-items: center;
  justify-content: space-between;
}
.header-component-login-button {
  margin: 0px 12px;
}
.header-component-recipe-button {
  margin: 0 12px;
}
.header-component-profile-button {
  margin: 0 12px;
}
.header-component-singleRecipe-button {
  margin: 0 12px;
}
.header-component-mulitRecipe-button {
  margin: 0 12px;
}
.header-component-home-button {
  margin: 0 12px;
}
.lg {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 5px;
}
.lg:hover {
  transition: 0.1s ease-in-out;
  color: rgb(239, 136, 63);
  text-decoration: underline;
}
.imageCarousel {
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 800px; */
  width: 80%;
}
.imageOfCarousel img {
  /* height: 800px; */
}
