.card-header, .card-body {
  color: white;
}


.main-card-img {
  position: relative;
  width: 100%;
}


.home-heart {
  position: absolute;
  top: 0;
  bottom: 600px;
  left: 0;
  right: 0;
}

.card-img-top {
  width: 100% !important;
  height: 15vw !important;
  object-fit: cover !important;
}

@media only screen and (max-width: 680px) {
  .card-img-top {
    height: 35vw !important;
  }
}

@media only screen and (max-width: 375px) {
  .card-img-top {
    height: 55vw !important;
  }
}