.profile-page-container {
  width: 100%;
  margin: auto;
}

.profile-page-to-home-button {
  width: 100px;
}

.userProfileMakeUp {
  width: 60%;
  margin: auto;
  padding: 20px;
}
.userProfileHeader {
  display: flex;
}

.MakeUpUserName p {
  margin-left: 10px;
}

.MakeUpUserName {
  line-height: 30px;
  display: flex;
}
.MakeUpUserName p:first-child {
  font-size: 30px;
}
.aboutusertext {
  font-size: 25px;
}
.MakeUpPic img {
  width: 300px;
}
.editProfileButton {
  margin-top: 25px;
}

/* Edit Profile Form */

.userFormContainer {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.profileInput {
  width: 350px;
  height: 30px;
  margin: 15px 0 10px 0;
}
.profileInputTextarea {
  width: 350px;
}
.userProfile {
  margin: 0;
  text-align: center;
  width: 100%;
  margin-top: 24px;
}
/* .userProfileForm{
    margin
} */
